.pageCont {
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0;
    top: 44px;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
@media screen and (min-width:800px) {
    .pageCont{
        width: 540px;
        left:50%;
        margin-left: -270px;
    }
}
.newPassword {
    margin-top: 20px;
}
.btnBox {
    padding: 20px 15px 20px;
    text-align: center;
}
