.pageCont {
    z-index: 1;
    position: absolute;;
    top: 44px;
    bottom: 0;
    overflow: auto;
    margin: auto;
    width: 100%;
    left: 0;
}
@media screen and (min-width:800px) {
    .pageCont {
        width: 540px;
        left: 50%;
        margin-left: -270px;
    }
}
.addressBook {
    padding: 20px 0 20px 0;
}
.community {
    background-color: #fff;
}
.aCommunity {
    width: 100%;
    display: block;
    padding: 8px 15px;
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0.2);
    color: #4f4f4f;
    font-size: 1.6rem;
}
.listTitle {
    color: #898a8b;
    font-size: 1.3rem;
    padding: 6px 15px;
}
.listMenu {
    background-color: #fff;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
