.show {
    visibility: visible;
    opacity: 1;
}
.hide {
    visibility: hidden;
    opacity: 0;
}
.cover {
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -ms-transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
