* {
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
body {
    background-color: #e5e5e5 !important;
}
.wrapDivStyle {
    top:44px;
    position:relative;
    max-width: 600px;
    margin:auto;
    padding-top: 20px;
}
.shadow {
  -webkit-box-shadow: 3px 10px 3px rgba(28, 27, 28, 0.52);
  -moz-box-shadow: 3px 10px 3px rgba(28, 27, 28, 0.52);
  box-shadow: 3px 10px 3px rgba(28, 27, 28, 0.52);
}
.crousel {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    height:130px;
}
.menuBox {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #fff;
}
.menuBoxUl {
    display: block;
    min-height: 1%;
}
.img {
    width: 100%;
    height:100%;
}
.item {

    padding: 0 10px;
    background-color: #fff;
    height: 130px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    width: 100%;
    -webkit-box-align: center;
}
.headImg {
    height: 100%;
    width: 100%;
}
.iconfont {
    overflow: hidden;
    left: 10%;
    margin-right: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    border-radius: 100%;
    border: solid 1px #d3d9dd;
    }
.info {
    display: block;
    position: relative;
    left: 11%;
}
.h3 {
    margin-top: 15px;
    font-size: 1.2rem;
}
