.header {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.iconWrap {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.headerIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    background-color: #4f555a;
    overflow: hidden;
    vertical-align: middle;
    z-index: 100;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ring1 {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
}
.ring2 {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    transition: all 0.8s;
    background: rgba(255, 255, 255, 0.6);
}
.ring3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.8s;
    background: rgba(255, 255, 255, 0.4);
    position: relative;
}
.svgIconWrap {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1.1s linear;
}
.svgIcon1 {
    position: absolute;
    top: 132px;
    left: -47px;
    transition: all 0.2s linear;
}
.svgIcon2 {
    position: absolute;
    top: 30px;
    left: -63px;
    transition: all 0.4s linear;
}
.svgIcon3 {
    position: absolute;
    top: -45px;
    left: 3px;
    transition: all 0.6s linear;
}
.svgIcon4 {
    position: absolute;
    top: -45px;
    left: 102px;
    transition: all 0.8s linear;
}
.svgIcon5 {
    position: absolute;
    top: 30px;
    left: 168px;
    transition: all 0.8s linear;
}
.svgIcon6 {
    position: absolute;
    top: 130px;
    left: 152px;
    transition: all 0.8s linear;
}
.line1 {
    position: absolute;
    top: 76px;
    left: -55px;
    transition: all 0.8s linear;
}
.line2 {
    position: absolute;
    top: -15px;
    left: -35px;
    transition: all 0.8s linear;
}
.line3 {
    position: absolute;
    top: -44px;
    left: 44px;
    transition: all 0.6s linear;
}
.line4 {
    position: absolute;
    top: -15px;
    left: 147px;
    transition: all 0.4s linear;
}
.line5 {
    position: absolute;
    top: 76px;
    left: 188px;
    transition: all 0.2s linear;
}
.slide {
    position: absolute;
    top: 180px;
    left: 50px;
    transform: scale(0.9);
    transition: transform 1200ms linear;
}
.wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.SvgTitle {
    text-align: center;
    color: #fff;
}
