.wrapDivStyle {
    z-index: 1;
    position: absolute;;
    top: 44px;
    bottom: 0;
    overflow: auto;
    max-width: 600px;
    background-color: #f0f1f3;
    margin: auto;
    width: 100%;
    left: 0;
}
.menuDivStyle {
    display: block;
    min-height: 1%;
}
.section1 {
    background: #fff;
    padding: 0 0 0 15px;
    border-top: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
    margin-top: 10px;
}
