.item {
    padding: 0 15px;
    min-height: 10px;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    color: rgba(244, 244, 244, 0.6);
}
.item:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.65);
}
.item:nth-child(2) {
    background: rgba(0, 0, 0, 0.6);
}
.item:nth-child(3) {
    background: rgba(0, 0, 0, 0.5);
}
.item:nth-child(4) {
    background: rgba(0, 0, 0, 0.5);
}
