.stage {
    width: 80%;
    min-height: 30%;
    position: relative;
    max-width: 400px;
    border-radius: 8px;
    background: #fff;
}
.close {
    position: absolute;
    right: 8px;
    top: 8px;
}
.header {
    margin-top: 15px;
    text-align: center;
}
.title {
    font-size: 1.8rem;
    color: #000;
    padding-top: 15px;
}
.desc {
    margin-top: 10px;
    font-size: 1.4rem;
    color: #000;
}
.body {
    padding: 10px 0px 40px;
    text-align: center;
}
.img {
    width: 80%;
}
