.flexbox {
    display: flex;
}
.flexbox.items-center {
    align-items: center;
}
.flexbox.flex-center {
    justify-content: center;
}
.flexbox.row {
    flex-direction: row;
}
.flexbox.row-reverse {
    flex-direction: row-reverse;
}
.flexbox.column {
    flex-direction: column;
}
.flexbox.wrap {
    flex-wrap: wrap;
}
.flexbox.row {
    flex-direction: row;
}
.flexbox.space-between {
    justify-content: space-between;
}
.flexbox.space-around {
    justify-content: space-around;
}
.flexbox .flex {
    flex: 1;
}
.align-items-center {
    align-items: center;
}
.self-center {
    align-self: center;
}
.fixed {
    display: block;
    min-height: 1%;
}
html {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 62.5%;
    touch-action: none;
}
body {
    font-size: 1.4rem;
    line-height: 1;
    color: #4f4f4f;
    background-color: white;
    overflow: hidden;
}
ul, ol {
    list-style: none outside none;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
input::placeholder, textarea::placeholder {
    color: #bbb;
}
