.flexbox {
    display: flex;
}
.flexbox.items-center {
    align-items: center;
}
.flexbox.flex-center {
    justify-content: center;
}
.flexbox.row {
    flex-direction: row;
}
.flexbox.row-reverse {
    flex-direction: row-reverse;
}
.flexbox.column {
    flex-direction: column;
}

.flexbox.wrap {
    flex-wrap: wrap;
}
.flexbox.row {
    flex-direction: row;
}
.flexbox.space-between{
    justify-content: space-between;
}
.flexbox.space-around {
    justify-content: space-around;

}
.flexbox .flex {
    flex: 1;
}
.align-items-center {
    align-items: center;
}
.self-center {
    align-self: center;
}
.fixed {
    display: block;
    min-height: 1%;
}
html {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
    -ms-touch-action: none;
}
body {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1;
    color: #4f4f4f;
    background-color: white;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
button, input, select, textarea {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
    margin: 0;
}
ul, ol, li, dl, dd {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none outside none;
}
h1, h2, h3 {
    font-weight: normal;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #bbb;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #bbb;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #bbb;
}
    button {
        cursor: pointer;
    }
    button, input, select, textarea {
        font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
    h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
    ul, ol, li, dl, dd { margin: 0; padding: 0; }
    ul, ol { list-style: none outside none; }
    h1, h2, h3 { font-weight: normal; }
    h1 { font-size: 1.8rem; }
    h2 { font-size: 1.6rem; }
    h3 { font-size: 1.4rem; }
    input::-moz-placeholder, textarea::-moz-placeholder { color: #bbb; }
    input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #bbb; }
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #bbb; }
