.item {
    padding: 0 10px;
    background-color: #fff;
    height: 60px;
    display: flex;
    width: 100%;
    align-items: center;
}
.iconfont {
    margin-right: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    background: #f1f1f1;
    border-radius: 100%;
    border: solid 1px #d3d9dd;
}
.h2Style {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 1.2rem;
    color: #9b9a9e;
    background-color: #e5e5e5;
}
.normalUl {
    margin-top: 10px;
}
.buttonDiv {
    margin-top: 42px;
}
.h3 {
    margin-top: 3px;
    font-size: 1.2rem;
}
.QRcode {
    fill: #9b9b9e;
}
.info {
    display: block;
    width: 85%;
}
