.InputItem {
    appearance: none;
    outline: none;
    border: 0;
    background: #fff;
    width: 100%;
    padding: 15px 10px 15px 110px;
    font-size: 1.4rem;
}
.button {
    position: absolute;
    top: 3px;
    right: 1px;
    padding-right: 10px;
    height: 38px;
    color: #1f8ff3;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 1.4rem;
}
.li {
    list-style:none;
    outside:none;
    position: relative;
    background: #fff;
    width: 100%;
    border-bottom: solid 1px #eaeaea;
}
.label {
    color: #000;
    font-size: 1.4rem;
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -7px
}
.wrapLabelStyle {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: #e5e5e5;
    display: block;
}
.btn {
    appearance: none;
    outline: none;
    width: 26px;
    height: 26px;
    float: left;
    border-radius: 100%;
    background: #fff;
    border: 0;
    margin: 2px;
    transition: transform 300ms ease;
    box-shadow: 0 0 15px rgba(0,0,0,.05), 0 5px 2px rgba(0,0,1,.05);
}
.btnDiv {
    width: 50px;
    height: 30px;
}
